{% extends "layout.html" %}

{% block content %}
<div class="form-container">
    <h2>Editar Dados do Comércio</h2>
    <form method="POST" action="{{ url_for('editar_perfil') }}">
        {{ form.csrf_token }}

        <div class="form-group">
            {{ form.nome_comercio.label }}
            {{ form.nome_comercio() }}
        </div>

        <div class="form-group">
            {{ form.email.label }}
            {{ form.email() }}
        </div>
        
        <div class="form-group">
            {{ form.endereco.label }}
            {{ form.endereco() }}
        </div>

        {{ form.submit(class="submit-btn") }}
    </form>
</div>


{% endblock %}

